<!DOCTYPE html>
<html>

<head>
    <title>Chat - Room #<%= id %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/c50b50a96f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        //client
        var socket = io();

        //send message to server
        var send = function () {
            text = document.getElementById("message_room_input").value;
            input = document.getElementById("message_room_input");
            input.value = "";

            // return if message null
            if (text.length < 1) {
                return;
            }

            // send message to server
            socket.emit("chat message", text);
        };

        // On message receive
        var receive = function (msg) {
            var li = document.createElement("li");
            li.innerHTML = msg;
            
            document.getElementById("messages").appendChild(li);

            document.getElementById('messages').scrollIntoView(false);
        };

        //Update
        var updateBoxInfo = function (infos){
            info = document.getElementById("global_users");
            info.innerHTML = "Global Users : " + infos;
        }

        // Enter to send message
        function sendMessage() {
            document.getElementById("send").click();
        }

        socket.on("chat message", receive);
        socket.on("update_box_info", updateBoxInfo);

    </script>

    <div class="centre">

        <div class="box_info shadow-lg">
            <center>
                <h6 style="margin-top: 7%"><u>Room info</u> (#<%= id %>)</h6>
                <h6 style="margin-top: 15%;" id="global_users">Global Users : 1</h6>
            </center>

        </div>

        <div id="choose_room" class="shadow-lg p-3">
            <!-- Message list -->
            <div style="height: 90%; overflow-y: scroll;">
                <!-- overflow:auto -->
                <ul id="messages" class="text-white"></ul>
            </div>

            <!-- Send message box -->
            <div class="row" style="margin-top: 4%">
                <input required type="text" style="margin-left: 3%" class="form-control"
                    title="Saisissez votre message à envoyer" placeholder="Message" id="message_room_input"
                    onKeyPress="if (event.keyCode == 13) sendMessage()" />
                <button title="Envoyer" id="send" onclick="send()" class="btn btn-outline-secondary">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</body>

</html>